body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*格式化*/
*{padding:0;margin:0}
html{background-color: #252527;}
a,a:link,a:hover,a:active,a:focus{text-decoration:none;color:inherit;}
ul li{list-style-type:none;}
img{vertical-align:bottom;}
h3{color:#404040}
iframe{border:0;}
.clear:after{content:"";display:block;clear:both;}
.left{float: left;}
.preload{
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/*PC*/
@media screen and (max-width:768px){


}
/*大部分手机*/
@media screen and (max-device-width:750px){


}
